
main {
    margin: 0px;
    width: 100%;
}

/* Hero section */

.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../../public/images/homepage_hero.png');
    background-size: cover;
    background-position: center;
}


.hero-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-title {
    text-align: left;
    color: #fff;
    font-family: var(--font-family);
    font-size: var(--large-title-font-size);
    font-weight: var(--normal-text-weight);
}

.ebikes-button {
    width: 155px;
    height: 45px;
    margin-right: 8px;
    background-color: #fff;
    border-radius: 25px;
    font-family: var(--font-family);
    font-size: var(--button-font-size);
    font-weight: var(--bold-text-weight);
}

.ebikes-button:hover {
    color: #fff;
    background-color: #000;
}

.contact-button {
    width: 155px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    font-family: var(--font-family);
    font-size: var(--button-font-size);
    font-weight: var(--normal-text-weight);
}

.contact-button:hover {
    background-color: rgba(255, 255, 255, 0.6);;
}

/* Second section */
.hot-product-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    margin: 50px;
}

.hot-product-image {
    width: 100%;
    border-top-right-radius: 25%;
}

.hot-product-section-title {
    font-family: var(--font-family);
    font-size: var(--quite-large-title-font-size);
}

.hot-product-section-text {
    font-family: var(--font-family);
    font-size: var(--subtitle-font-size);
}

.hot-product-section-button {
    width: 100%;
    height: 37px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    font-family: var(--font-family);
    font-size: var(--button-font-size);
}

.hot-product-section-button:hover {
    opacity: 0.6;
}

/* Third section */

.products-list-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--third-bg-color);
    height: 100vh;
    width: 90%;
    padding: 0% 5%;
}

.home-product-card {
    text-align: center;
    background-color: var(--third-bg-color);
    width: 25%;
}

.home-product-card-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    background-color: #fff;
    padding: 5%;
    height: 50%;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.product-card-text-container {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
    gap: 0px;
    height: 17vh; 
    text-align: center;
}

.product-card-title {
    margin-bottom: 0px;
    color: var(--third-bg-color);
    font-family: var(--font-family);
    font-size: var(--subtitle-font-size);  
}

.product-card-text {
    margin: 0px;
}

.home-product-image {
    width: 100%;
    border-top-right-radius: 50px;
}

.product-card-button {
    width: 80%;
    height: 42px;
    margin-top: 30px;
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    font-family: var(--font-family);
    font-size: var(--button-font-size);
    font-weight: var(--bold-text-weight);
}

.product-card-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .hero-title {
        font-size: var(--big-title-font-size);
    }

    .ebikes-button {
        width: 110px;
        height: 37px;
        margin-right: 4px;
    }

    .contact-button {
        width: 110px;
        height: 37px;
    }

    .hot-product-section-container {
        gap: 20px;
        margin: 30px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hot-product-section-title {
        font-size: var(--quite-big-title-font-size);
    }

    .hot-product-image {
        border-top-right-radius: 25px;
    }

    .product-card-button {
        height: 37px;
    }
}

@media screen and (max-width: 712px) {
    .hot-product-section-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        gap: 40px;
        margin: 50px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .hot-product-image {
        grid-row: 1;
        border-top-right-radius: 25px;
    }

    .hot-product-content-container {
        grid-row: 2;
    }
}