:root {
  --primary-color: #08FFC8;
  --secondary-color: #204969;
  --bg-color: #FFF7F7;
  --second-bg-color: #DADADA;

  --font-family: 'Montserrat', sans-serif;
  --title-font-size: 54px;
  --text-font-size: 34px;
}

body {
  background-color: var(--bg-color);
}
