.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bg-color);
    height: 100vh;
    border-bottom: #fff solid 1px;
}

.login-title {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: var(--big-title-font-size);
    font-weight: var(--bold-text-weight);
}

/* Register form */
.login-form {
    align-items: center;
    gap: 10%;
    background-color: var(--second-bg-color);
    width: 40%;
}

.login-field-container{
    display: grid;
    grid-template-rows: auto auto;
    font-family: var(--font-family);
    font-size: var(--subtitle-font-size);
    margin-bottom: 20px;
}

.login-email-label, .login-password-label {
    color: #fff;
    font-size: var(--text-font-size);
    margin-bottom: 5px;
}

.login-email-input, .login-password-input {
    background-color: #fff;
    border-radius: 10px;
    height: 40px;
}

.login-submit {
    position: relative;
    width: 100%;
    height: 37px;
    border-radius: 25px;
    color: #fff;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    font-size: var(--button-font-size);
    font-weight: var(--normal-text-weight);
    transition: box-shadow 0.3s ease;
    overflow: hidden
}

.login-submit:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.login-submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    opacity: 0; 
    transition: opacity 0.3s ease;
    border-radius: inherit; 
}

.login-submit:hover::before {
    opacity: 1; 
}

.error {
    font-family: var(--font-family);
    font-weight: var(--slim-text-weight);
    color: var(--error-color);
}

@media screen and (max-width: 900px) {

    .login-form {
        width: 60%;
    }
}
