.navbar-container {
    display: grid;
    grid-template-columns: auto 600px auto;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    margin: 0 30px;
    z-index: 1;
}

#logo {
    display: inline;
    height: 80px;
}

.navbar-items-list {
    display: flex;
    margin: 0;
    padding: 0px;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.navbar-link {
    color: #fff;
    font-family: var(--font-family);
    font-size: var(--subtitle-font-size);
}

.navbar-link:hover {
    opacity: 0.6;
}

.login-register-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3px;
}

.login-button {
    width: 90px;
    height: 37px;
    background-color: #fff;
    border-radius: 25px;
    font-family: var(--font-family);
    font-size: var(--button-font-size);
}

.login-button:hover {
    opacity: 0.6;
}

.register-button {
    width: 90px;
    height: 37px;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    font-family: var(--font-family);
    font-size: var(--button-font-size);
}

.register-button:hover {
    opacity: 0.6;
}

.burger-menu {
    background-color: #000;
    color: #fff;
    width: 60px;
    height: 35px;
    border-radius: 5px;
    font-family: var(--font-family);
    font-size: var(--button-font-size);
    font-weight: var(--normal-text-weight);
}

.burger-menu:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 900px) {
    .navbar-container {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin: 0 20px;
    }

    .navbar-items-list {
        flex-direction: column;
        align-items: start;
        width: 100%;
        gap: 5px;
        margin: 0;
        padding: 0px;
    }
}
